[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AMinenko
[access "refs/for/refs/*"]
	read = group user/AMinenko
	push = group user/AMinenko
	label-Code-Review = -2..+2 group user/AMinenko
	label-Verified = -1..+1 group user/AMinenko
	rebase = group user/AMinenko
	removeReviewer = group user/AMinenko
	submit = group user/AMinenko
[access "refs/heads/*"]
	read = group user/AMinenko
	create = group user/AMinenko
	push = +force group user/AMinenko
	pushMerge = group user/AMinenko
[access "refs/tags/*"]
	push = +force group user/AMinenko
	pushTag = group user/AMinenko
	pushSignedTag = group user/AMinenko
